.tarjeta {
  width: 280px;
  border: none !important;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  margin: 20px;
  transition: all 0.3s ease;
  background-color: #fff !important;
}

.tarjeta:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
}

.tarjeta-img {
  height: 220px;
  object-fit: cover;
}

.tarjeta-body {
  padding: 1.5rem;
  text-align: center;
}

.tarjeta-titulo {
  font-size: 1.3rem;
  color: var(--color-dark) !important;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.tarjeta-texto {
  font-size: 1rem;
  color: var(--color-gray) !important;
  margin-bottom: 1rem;
}

.tarjeta-provincia {
  color: var(--color-gray-light) !important;
  font-style: italic;
}

.btn-detalle {
  background-color: var(--color-primary) !important;
  border: none !important;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  color: black !important;
  transition: all 0.3s ease;
}

.btn-detalle:hover {
  background-color: var(--color-primary) !important;
  transform: scale(1.05);
}
